





body{
    background-image: url("1.jpg");
    
}



#email{
    height: 50%;
    width: 50%;
    margin-top: 284px;
    margin-left: 300px;
}


#password{
    
    width: 50%;
   
    margin-left: 300px;
;
}


#btn_sign{
    
   
    margin-left: 300px;
}


#group_sign{
    margin-top: 250px;
     /* background-image: url("1.jpg");  */
}


@media only screen and (min-width: 600px) {
    #btn_sign{
    
   
        display: flex;
        justify-content: center;
        align-items: center;
    }
    

    /* For tablets: */}


@media screen and (max-width: 600px) {
    #group_sign {
      width: 100%;
      margin-left: 200px;

    }
    
   
        #btn_sign {
          margin-left: 200px;
        }
        .style-cards {
            margin-left: 200px;


      }
    }



.style-cards{
    background-color: black;
}

.style-cards h1{
    color:white;
}

.style-cards h2{
    color:white;
}



.style-cards h3{
    color:white;
}







.card-0 , 
.card-1,
.card-2,
.card-3{
    border-top: 8px rgb(69, 69, 69) solid;
    padding: 50px;
}

.card-0{
    position: relative;
    display: inline-grid;
    grid-template-columns: 40% 50%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
}

.desc-0{
    padding-left: 100px;
}

.card-1{
    position: relative;
    display: inline-grid;
    grid-template-columns: 50% 40%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
}

.desc-1{
    padding-left: 80px;
}

.style-cards h1{
    font-size: 3rem;
    padding: 1rem;
    padding-left: 0;
}

.style-cards h3{
    font-size: 1.6rem;
    line-height: 2rem;
}

.card-1 video{
    position: relative;
    width: 100%;
    height: 54%;
    grid-column: 2/2;
    grid-row: 1/2;
    z-index: -1;
}

.card-1 img{
    grid-column: 2/2;
    grid-row: 1/2;
}

.card-2{
    position: relative;
    display: inline-grid;
    grid-template-columns: 40% 50%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
}

.desc-2{
    padding-left: 100px;
}

.card-3{
    position: relative;
    display: inline-grid;
    grid-template-columns: 50% 40%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
}

.desc-3{
    padding-left: 80px;
    padding-right: 20px;
}

.card-3 img{
    width: 110%;
    grid-column: 2/2;
    grid-row: 1/2;
}

.card-3 video{
    position: relative;
    top: -87px;
    left: 125px;
    width: 65%;
    height: 78%;
    grid-column: 2/2;
    grid-row: 1/2;
    z-index: -1;
}








