





body{
    background-image: url("1.jpg");
    
}



#email{
    height: 50%;
    width: 50%;
    margin-top: 284px;
    margin-left: 300px;
}


#password{
    
    width: 50%;
   
    margin-left: 300px;
;
}


#btn_sign{
    
   
    margin-left: 300px;
}


#group_sign{
    margin-top: 250px;
    /* background-image: url("1.jpg"); */
}





@media screen and (max-width: 600px) {
    #group_sign {
      width: 100%;
    }
  }

  @media screen and (max-width: 600px) {
    #nvbar1 {
      width: 100%;
    }
  }

  
